body {
    margin: 0 auto;
    padding: 50px 0px 0px 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
    color: #00B7FF;
}

.navbar-brand > img {
    width: 70%;
}


#slide {
    margin: 0;
    width: 100%;
}

#posts {
    margin: 0;
    width: 100%;

}